.home_hero_container {
   width: 100%;
   height: 65vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.home_hero_container_heading{
   font-size: 4.2rem;
   font-weight: 900;
}
.home_hero_container_bio{
   font-size: 2rem;
}

.home_container_heading_content{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 30px;
}

.typewriter{
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.typewriter h1 {
   font-size: 4.2rem;
   font-weight: 900;
   color: var(--PrimaryLightFocus);
   font-family: monospace;
   overflow: hidden;
}

.home_hero_container_btn{
   width: fit-content;
   height: fit-content;
   margin-top: 60px;
   cursor: pointer;
}
.home_hero_container_btn a{
   border-radius: 10px;
   border: 2px solid var(--secoundryDarkText);
   padding: 10px 40px;
   font-size: 2rem;
   font-weight: 900;
}
.home_hero_container_btn_underline{
   width: 100%;
   height: 4px;
   background-color: var(--PrimaryLightFocus);
   margin-top: 25px;
}